<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <body>
    <section>
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-12 col-md-8 col-sm-11 mx-auto my-5 border">
    				<h2 class="text-center">Kuber Milkey </h2>
    				<p class="text-center">1344-B SrinathPuram Kota,Rajasthan<br>9798314321</p>
    				<div class="my-2" style="width: 100%;height: 1px; background-color: black"></div>
                     <h5 class="text-center"><u>Milk Collection(Regular Root) Form</u></h5>
                <form method="post" action="/">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12 mx-auto my-2">
                           <label>Root Code </label>
                          <input type="text" name="" class="form-control" value="SGNR2RSNR">
                        </div>
                        <div class="col-lg-4 col-sm-12 mx-auto my-2">
                           <label>Root Name </label>
                          <input type="text" name="" class="form-control" >
                        </div>
                        <div class="col-lg-4 col-sm-12 mx-auto my-2">
                           <label>Root Expenses </label>
                          <input type="text" name="" class="form-control" >
                        </div>
                        <div class="col-lg-4 col-sm-12 mx-auto my-2">
                           <label>Root length </label>
                          <input type="text" name="" class="form-control">
                        </div>
                        <div class="col-lg-4 col-sm-12 mx-auto my-2">
                           <label>Root Vehical Appointment </label>
                          <input type="text" name="" class="form-control">
                        </div>
                        <div class="col-lg-4 col-sm-12 mx-auto my-2">
                           <label>Each Shift </label>
                          <input type="text" name="" class="form-control">
                        </div>
                        <div class="col-12  my-2">
                            <div class="row">
                                <div class="col-3 mx-auto">
                                    <button class="btn btn-primary" style="width: 100%">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
    			</div>
    		</div>
    	</div>
    </section>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+945DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi4jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ44jBk0WLaUAdn489aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE4ZbWh2IMqE241rYiqJxyMiZ4OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>